<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <title>染め直し選択ページ</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    </head>
    <body>
        <div id="app">
            <h1 class="center-text">
                染め直し依頼ページ
            </h1>
            <div v-if="showGallery">
                <h2 class="center-text">
                    染め直したいのはどのような服ですか？
                    <br>クリックで選択してください
                </h2>
                <p class="center-text qatext">
                    種類がわからない
                </p>
                <div class="image-gallery">
                    <div v-on:click="showForm('T-shirt', 1000, $event)" @mouseover="showTooltip('　Ｔシャツ　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/T-shirt_ffffff.png" alt="T-shirt">
                    </div>
                    <div v-on:click="showForm('Y-shirt', 1500, $event)" @mouseover="showTooltip('　Yシャツ　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/Y-shirt_ffffff.png" alt="Y-shirt">
                    </div>
                    <div v-on:click="showForm('Jacket', 2000, $event)" @mouseover="showTooltip('　ジャケット　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/Jacket_ffffff.png" alt="Jacket">
                    </div>
                    <div v-on:click="showForm('Downjacket', 2500, $event)" @mouseover="showTooltip('　ダウンジャケット　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/Downjacket_ffffff.png" alt="Downjacket">
                    </div>
                    <div v-on:click="showForm('hoodie', 3000, $event)" @mouseover="showTooltip('　パーカー　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/hoodie_ffffff.png" alt="hoodie">
                    </div>
                    <div v-on:click="showForm('onepiece', 3500, $event)" @mouseover="showTooltip('　ワンピース　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/onepiece_ffffff.png" alt="onepiece">
                    </div>
                    <div v-on:click="showForm('Jeans', 4000, $event)" @mouseover="showTooltip('　ジーンズ　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/Jeans_ffffff.png" alt="Jins">
                    </div>
                    <div v-on:click="showForm('skirt', 4500, $event)" @mouseover="showTooltip('　スカート　', $event)"@mouseout="hideTooltip()" @click="hideTooltip()">
                        <img src="../somemono/images/skirt_ffffff.png" alt="skirt">
                    </div>
                </div>
            </div>
            <div v-else>
                <form>
                    <label for="itemName">選択している服:</label>
                    <input type="text" id="itemName" name="itemName" v-model="selectedItem">
                    
                    <!-- 他のフォーム要素も同様に追加 -->
                    <button type="button" @click="showGallery = true">選択ページに戻る</button>

                    <p>価格: {{ formatAmount(selectedPrice) }}</p>
                    <!-- 選択し -->
                    <div id="questions">
                        <label>性別を選択してください:</label>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">男性</label>
                    
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">女性</label>
                    
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">その他</label>
                    </div>
                    
                    <div id="questions">
                        <div>
                          <label for="material">素材を選択してください</label>
                          <select id="material">
                            <option>選択してください</option>
                            <option>綿</option>
                            <option>麻</option>
                            <option>レーヨン</option>
                            <option>ウール</option>
                            <option>ナイロン</option>
                            <option>キュプラ</option>
                          </select>
                        </div>    
                    </div>
                    <div id="questions">
                        <div>
                            <label for="size">サイズを選択してください</label>
                            <select id="size" name="size">
                                <option value="">選択してください</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                                <!-- 他に必要なサイズを追加 -->
                            </select>
                        </div>
                    </div>
                    <div>
                    <p>染めたい色を選択してください</p>
                    <div id="color-options">
                        <div v-on:click="updateColor('#ffffff')" :style="{ backgroundColor: '#ffffff' }"></div>
                        <div v-on:click="updateColor('#ff0000')" :style="{ backgroundColor: '#ff0000' }"></div>
                        <div v-on:click="updateColor('#00ff00')" :style="{ backgroundColor: '#00ff00' }"></div>
                        <div v-on:click="updateColor('#0000ff')" :style="{ backgroundColor: '#0000ff' }"></div>
                        <div v-on:click="updateColor('#meisai')" :style="{ backgroundImage: 'url(../somemono/images/meisai.jpg)' }"></div>
                    </div>
                    <p>　　　↓サンプル画像↓</p>
                    <img :src="selectedImage" alt="Selected Item">
                    </div>
                    
                    <div id="amount-display">
                        <p id="amount">合計：{{ formatAmount(selectedPrice + totalAmount) }}</p>
                    </div>
                    <button type="button" @click="submitForm">引き続き依頼する</button>
                    <button type="button" >注文にすすむ</button>


                </form>

            </div>
        </div>
        <div id="tooltip"></div>
        <script src="javascripts/hukusentaku.js"></script>
    </body>
</html>